body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:60px;
  background:inherit;
  background-color:rgba(251, 215, 123, 1);
  border:none;
  border-radius:15px;
  border-top-left-radius:0px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:285px;
  width:307px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u529_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:60px;
  background:inherit;
  background-color:rgba(251, 215, 123, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 115, 209, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u529.mouseOver {
}
#u529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:60px;
  background:inherit;
  background-color:rgba(251, 215, 123, 1);
  border:none;
  border-radius:15px;
  border-top-left-radius:0px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:365px;
  width:519px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u530_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:60px;
  background:inherit;
  background-color:rgba(251, 215, 123, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 115, 209, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u530.mouseOver {
}
#u530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:150px;
  background:inherit;
  background-color:rgba(251, 215, 123, 1);
  border:none;
  border-radius:15px;
  border-top-left-radius:0px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:445px;
  width:698px;
  height:150px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u531_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:150px;
  background:inherit;
  background-color:rgba(251, 215, 123, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 115, 209, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u531.mouseOver {
}
#u531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:285px;
  width:100px;
  height:100px;
  display:flex;
}
#u532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
  background:inherit;
  background-color:rgba(231, 193, 242, 1);
  border:none;
  border-radius:15px;
  border-top-right-radius:0px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:750px;
  width:160px;
  height:80px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u534_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
  background:inherit;
  background-color:rgba(231, 193, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 115, 209, 1);
  border-radius:15px;
  border-top-right-radius:0px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u534.mouseOver {
}
#u534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:32px;
  width:249px;
  height:48px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u535 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1246px;
  height:20px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:105px;
  width:1246px;
  height:20px;
  display:flex;
}
#u537 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1246px;
  height:20px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:105px;
  width:1246px;
  height:20px;
  display:flex;
}
#u538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:143px;
  width:549px;
  height:70px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u539 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:32px;
  width:249px;
  height:48px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u540 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:32px;
  width:48px;
  height:48px;
  display:flex;
}
#u541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:819px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:213px;
  width:819px;
  height:29px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u542 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:80px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:880px;
  width:450px;
  height:80px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u543_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:80px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u543.mouseOver {
}
#u543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
