body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6701 {
  position:fixed;
  left:0px;
  top:0px;
  width:80px;
  height:1024px;
}
#u6701_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:1024px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6701_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:80px;
  height:924px;
}
#u6702_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:924px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(240, 240, 240, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6702_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u6704 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:214px;
  width:70px;
  height:50px;
  display:flex;
  text-align:center;
}
#u6704 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u6706 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:288px;
  width:70px;
  height:50px;
  display:flex;
  text-align:center;
}
#u6706 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u6708 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:437px;
  width:70px;
  height:50px;
  display:flex;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u6708 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u6710 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:894px;
  width:70px;
  height:50px;
  display:flex;
  text-align:center;
}
#u6710 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u6712 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:820px;
  width:70px;
  height:50px;
  display:flex;
  text-align:center;
}
#u6712 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u6713 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:820px;
  width:29px;
  height:29px;
  display:flex;
}
#u6713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u6715 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:139px;
  width:70px;
  height:50px;
  display:flex;
  text-align:center;
}
#u6715 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u6718 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:363px;
  width:70px;
  height:50px;
  display:flex;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u6718 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6719 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:366px;
  width:24px;
  height:24px;
  display:flex;
}
#u6719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:100px;
  display:flex;
}
#u6721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1286px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6722 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:100px;
  width:1286px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6723 {
  border-width:0px;
  position:absolute;
  left:1321px;
  top:118px;
  width:24px;
  height:24px;
  display:flex;
}
#u6723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:72px;
  background:-webkit-linear-gradient(90deg, rgba(128, 128, 255, 1) 3%, rgba(194, 128, 255, 1) 100%);
  background:-moz-linear-gradient(0deg, rgba(128, 128, 255, 1) 3%, rgba(194, 128, 255, 1) 100%);
  background:linear-gradient(0deg, rgba(128, 128, 255, 1) 3%, rgba(194, 128, 255, 1) 100%);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6725 {
  border-width:0px;
  position:absolute;
  left:1147px;
  top:184px;
  width:198px;
  height:72px;
  display:flex;
}
#u6725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:42px;
}
#u6726 {
  border-width:0px;
  position:absolute;
  left:1157px;
  top:199px;
  width:36px;
  height:42px;
  display:flex;
}
#u6726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:54px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6727 {
  border-width:0px;
  position:absolute;
  left:1203px;
  top:193px;
  width:133px;
  height:54px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(92, 48, 209, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6728 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:193px;
  width:60px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6728 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6729 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:492px;
  width:150px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6729 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6729_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6729.mouseOver {
}
#u6729_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6729.selected {
}
#u6729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6730 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:492px;
  width:150px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6730 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6730_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6730.mouseOver {
}
#u6730_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6730.selected {
}
#u6730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6731 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:492px;
  width:150px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6731 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6731_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6731.mouseOver {
}
#u6731_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6731.selected {
}
#u6731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6732 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:492px;
  width:150px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6732 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6732_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6732.mouseOver {
}
#u6732_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6732.selected {
}
#u6732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6733 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:492px;
  width:150px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6733 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6733_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6733.mouseOver {
}
#u6733_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6733.selected {
}
#u6733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:226px;
}
#u6734 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:199px;
  width:602px;
  height:226px;
  display:flex;
}
#u6734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6735 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:755px;
  width:60px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6735 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6735_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6735.mouseOver {
}
#u6735_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6735.selected {
}
#u6735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6736 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:755px;
  width:60px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6736 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6736_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6736.mouseOver {
}
#u6736_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6736.selected {
}
#u6736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6737 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:755px;
  width:60px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6737 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6737_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6737.mouseOver {
}
#u6737_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6737.selected {
}
#u6737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6738 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:755px;
  width:60px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6738 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6738_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6738.mouseOver {
}
#u6738_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6738.selected {
}
#u6738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6739 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:755px;
  width:60px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6739 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6739_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6739.mouseOver {
}
#u6739_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6739.selected {
}
#u6739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u6740 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:771px;
  width:60px;
  height:29px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u6740 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6740_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u6740.mouseOver {
}
#u6740_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u6740.selected {
}
#u6740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:70px;
  background:inherit;
  background-color:rgba(92, 48, 209, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6741 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:830px;
  width:236px;
  height:70px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6741 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6741_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:70px;
  background:inherit;
  background-color:rgba(92, 48, 209, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6741.mouseOver {
}
#u6741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:70px;
  background:inherit;
  background-color:rgba(92, 48, 209, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6742 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:828px;
  width:236px;
  height:70px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6742 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6742_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:70px;
  background:inherit;
  background-color:rgba(92, 48, 209, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6742.mouseOver {
}
#u6742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(92, 48, 209, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6744 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:940px;
  width:60px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6744 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(230, 235, 253, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6745 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:940px;
  width:60px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6745 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(230, 235, 253, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6746 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:940px;
  width:60px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6746 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(230, 235, 253, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6747 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:940px;
  width:60px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6747 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(230, 235, 253, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6748 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:940px;
  width:60px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6748 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(230, 235, 253, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6749 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:940px;
  width:60px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6749 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(230, 235, 253, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6750 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:940px;
  width:60px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6750 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(230, 235, 253, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6751 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:940px;
  width:60px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6751 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(230, 235, 253, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6752 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:940px;
  width:60px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6752 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(230, 235, 253, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6753 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:940px;
  width:60px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
}
#u6753 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u6754 {
  border-width:0px;
  position:absolute;
  left:1287px;
  top:580px;
  width:58px;
  height:58px;
  display:flex;
}
#u6754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6754_img.mouseOver {
}
#u6754.mouseOver {
}
#u6754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:441px;
}
#u6755 {
  border-width:0px;
  position:absolute;
  left:1437px;
  top:359px;
  width:787px;
  height:441px;
  display:flex;
}
#u6755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
