body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:310px;
  width:190px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u61 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u61_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 5, 109, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u61.mouseOver {
}
#u61_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 5, 109, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u61.selected {
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:310px;
  width:200px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u62_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 5, 109, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u62.mouseOver {
}
#u62_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 5, 109, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u62.selected {
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:310px;
  width:180px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u63 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u63_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 5, 109, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u63.mouseOver {
}
#u63_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 5, 109, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u63.selected {
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:310px;
  width:230px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u64_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 5, 109, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u64.mouseOver {
}
#u64_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 5, 109, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u64.selected {
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:410px;
  width:235px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u65_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 5, 109, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u65.mouseOver {
}
#u65_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 5, 109, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u65.selected {
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:410px;
  width:400px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u66_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 5, 109, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u66.mouseOver {
}
#u66_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 5, 109, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u66.selected {
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:410px;
  width:260px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u67 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u67_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 5, 109, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u67.mouseOver {
}
#u67_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 5, 109, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u67.selected {
}
#u67_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:510px;
  width:220px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u68_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 5, 109, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u68.mouseOver {
}
#u68_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 5, 109, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u68.selected {
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:510px;
  width:215px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u69 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u69_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 5, 109, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u69.mouseOver {
}
#u69_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 5, 109, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u69.selected {
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:510px;
  width:175px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u70_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 5, 109, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u70.mouseOver {
}
#u70_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 5, 109, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u70.selected {
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#333333;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:880px;
  width:248px;
  height:80px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#333333;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:80px;
  background:inherit;
  background-color:rgba(85, 115, 209, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#333333;
}
#u71.mouseOver {
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:143px;
  width:549px;
  height:70px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:32px;
  width:249px;
  height:48px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1206px;
  height:20px;
  background:inherit;
  background-color:rgba(226, 227, 229, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:105px;
  width:1206px;
  height:20px;
  display:flex;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:20px;
  background:inherit;
  background-color:rgba(85, 115, 209, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:105px;
  width:603px;
  height:20px;
  display:flex;
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:239px;
  width:666px;
  height:24px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u77 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:32px;
  width:48px;
  height:48px;
  display:flex;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
