.ax_default {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.shape {
}
.horizontal_line {
}
.heading_1 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.vertical_line {
  font-family:'72', sans-serif;
  font-weight:400;
  font-style:normal;
}
.horizontal_line1 {
  font-family:'72', sans-serif;
  font-weight:400;
  font-style:normal;
}
.flow_shape {
}
.line {
}
.link_button {
  color:#169BD5;
}
.text_field {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.table_cell {
}
.menu_item {
}
.connector {
}
.snapshot {
}
.shape1 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.fontawesome {
}
.paragraph1 {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.line1 {
}
.heading_11 {
  font-family:'Roboto', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_21 {
  font-family:'Roboto', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.primary_text_dark {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.866666666666667);
  text-align:left;
}
.flat_button {
  font-family:'Roboto Medium', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#2196F3;
}
.box_11 {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.ellipse1 {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
}
.image {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
}
.divider {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.258823529411765);
}
.image1 {
}
.shape2 {
  font-family:'72', sans-serif;
  font-weight:400;
  font-style:normal;
}
.box_12 {
  font-family:'72', sans-serif;
  font-weight:400;
  font-style:normal;
}
.label1 {
  font-family:'72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.line2 {
  font-family:'72', sans-serif;
  font-weight:400;
  font-style:normal;
}
.text_field1 {
  font-family:'72', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.shadow_level_0 {
  font-family:'72', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#6A6D70;
}
.shape3 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.shape4 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.icon {
}
.primary_text_light {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.paragraph2 {
  font-family:'Helvetica Neue ', 'Helvetica Neue', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
.image2 {
  font-family:'Helvetica Neue ', 'Helvetica Neue', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
.shape5 {
  font-family:'Helvetica Neue ', 'Helvetica Neue', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
.droplist1 {
  font-family:'Helvetica Neue ', 'Helvetica Neue', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
.placeholder {
}
.text_area {
  color:#000000;
  text-align:left;
}
.paragraph3 {
  text-align:left;
}
.shape6 {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.dd_standard {
  font-family:'IBM Plex Sans ', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#595859;
  text-align:left;
}
.white_btn_-blue_hover_outline_border {
}
.text_field2 {
  font-family:'IBM Plex Sans ', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#595859;
  text-align:left;
}
.hint_text_in_text_fields {
  font-family:'IBM Plex Sans ', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:13px;
  color:#777677;
  text-align:left;
  line-height:8px;
}
.disabled_state_grey_btn-p2 {
  font-family:'IBM Plex Sans ', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#777677;
  text-align:center;
}
.dropdown-peretz-content-14px {
  font-family:'IBM Plex Sans ', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5A5A5A;
  text-align:left;
  line-height:20px;
}
.repeater_cell-40px-14pt-background-hover {
  font-family:'IBM Plex Sans ', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.repeater_cell-40px-14pt-background-selected {
  font-family:'IBM Plex Sans ', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
._contained_button {
  color:#FFFFFF;
}
._tooltips_mobile {
  font-size:14px;
  color:rgba(255, 255, 255, 0.866666666666667);
  text-align:left;
}
textarea, select, input, button { outline: none; }
