body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1024px;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1024px;
  display:flex;
}
#u544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:791px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:50px;
  width:791px;
  height:96px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u545 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:160px;
  width:593px;
  height:38px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u546 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:238px;
  width:326px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u547 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1185px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:281px;
  width:1185px;
  height:150px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:491px;
  width:580px;
  height:150px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u550_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-13px;
  width:1053px;
  height:31px;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:368px;
  width:1027px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-3.96774036210219deg);
  -moz-transform:rotate(-3.96774036210219deg);
  -ms-transform:rotate(-3.96774036210219deg);
  transform:rotate(-3.96774036210219deg);
}
#u550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:448px;
  width:219px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u551 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:448px;
  width:219px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u552 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:658px;
  width:219px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u553 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:658px;
  width:219px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u554 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:536px;
  width:245px;
  height:80px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u555 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:536px;
  width:269px;
  height:80px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u556 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:536px;
  width:245px;
  height:16px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
}
#u557 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#C280FF;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:536px;
  width:235px;
  height:16px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#C280FF;
}
#u558 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:701px;
  width:580px;
  height:150px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:701px;
  width:580px;
  height:150px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:491px;
  width:580px;
  height:150px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:536px;
  width:150px;
  height:80px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u562 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:536px;
  width:175px;
  height:80px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u563 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:536px;
  width:150px;
  height:80px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u564 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#D9001B;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:536px;
  width:130px;
  height:16px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#D9001B;
}
#u565 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#70B603;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:536px;
  width:130px;
  height:16px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#70B603;
}
#u566 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:536px;
  width:130px;
  height:16px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u567 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:1068px;
  top:290px;
  width:150px;
  height:31px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:12px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:318px;
  width:18px;
  height:12px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:736px;
  width:117px;
  height:80px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u572 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:736px;
  width:107px;
  height:16px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
}
#u573 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:736px;
  width:117px;
  height:80px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u575 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:736px;
  width:107px;
  height:16px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
}
#u576 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:736px;
  width:117px;
  height:80px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u578 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:736px;
  width:107px;
  height:16px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
}
#u579 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:1123px;
  top:736px;
  width:130px;
  height:80px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u581 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:736px;
  width:120px;
  height:16px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
}
#u582 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:736px;
  width:308px;
  height:80px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u583 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:736px;
  width:272px;
  height:80px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u584 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:31px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:369px;
  width:18px;
  height:31px;
  display:flex;
}
#u585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:80px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:880px;
  width:450px;
  height:80px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u586_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:80px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u586.mouseOver {
}
#u586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:736px;
  width:30px;
  height:30px;
  display:flex;
}
#u587 .text {
  position:absolute;
  align-self:center;
  padding:8px 12px 8px 12px;
  box-sizing:border-box;
  width:100%;
}
#u587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:736px;
  width:30px;
  height:30px;
  display:flex;
}
#u588 .text {
  position:absolute;
  align-self:center;
  padding:8px 12px 8px 12px;
  box-sizing:border-box;
  width:100%;
}
#u588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:181px;
  width:120px;
  height:50px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u589_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(107, 72, 245, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u589.mouseOver {
}
#u589_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(107, 72, 245, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u589.selected {
}
#u589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:181px;
  width:120px;
  height:50px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u590_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(107, 72, 245, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u590.mouseOver {
}
#u590_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(107, 72, 245, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u590.selected {
}
#u590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
