body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u28131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u28131 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:170px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u28131 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28132 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:73px;
  width:1290px;
  height:403px;
}
#u28133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:45px;
}
#u28133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:45px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u28133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u28134 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:100px;
  height:45px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u28134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u28135 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:100px;
  height:45px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u28135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:45px;
}
#u28136 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:450px;
  height:45px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u28136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u28137 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:0px;
  width:80px;
  height:45px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u28137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
}
#u28138 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:0px;
  width:300px;
  height:45px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u28138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
}
#u28139 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:0px;
  width:220px;
  height:45px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u28139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u28140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u28141 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:45px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u28142 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:45px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:40px;
}
#u28143 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:45px;
  width:450px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u28143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u28143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u28144 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:45px;
  width:80px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u28145 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:45px;
  width:300px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u28145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u28145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u28146 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:45px;
  width:220px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:60px;
}
#u28147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:40px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u28148 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:85px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u28149 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:85px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:60px;
}
#u28150 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:85px;
  width:450px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u28150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u28150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
}
#u28151 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:85px;
  width:80px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u28152 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:85px;
  width:300px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u28152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u28152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u28153 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:85px;
  width:220px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u28154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:145px;
  width:40px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28155 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:145px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28156 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:145px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:30px;
}
#u28157 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:145px;
  width:450px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u28157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u28157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u28158 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:145px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u28159 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:145px;
  width:300px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u28159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u28159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u28160 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:145px;
  width:220px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u28161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:40px;
  height:38px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u28162 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:175px;
  width:100px;
  height:38px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u28163 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:175px;
  width:100px;
  height:38px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:38px;
}
#u28164 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:175px;
  width:450px;
  height:38px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u28164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u28164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u28165 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:175px;
  width:80px;
  height:38px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
}
#u28166 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:175px;
  width:300px;
  height:38px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u28166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u28166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:38px;
}
#u28167 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:175px;
  width:220px;
  height:38px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u28168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:213px;
  width:40px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28169 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:213px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28170 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:213px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:30px;
}
#u28171 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:213px;
  width:450px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u28171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u28171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u28172 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:213px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u28173 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:213px;
  width:300px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u28173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u28173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u28174 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:213px;
  width:220px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u28175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:243px;
  width:40px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28176 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:243px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28177 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:243px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:30px;
}
#u28178 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:243px;
  width:450px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u28178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u28178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u28179 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:243px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u28180 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:243px;
  width:300px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u28180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u28180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u28181 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:243px;
  width:220px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u28182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:273px;
  width:40px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28183 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:273px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28184 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:273px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:30px;
}
#u28185 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:273px;
  width:450px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u28185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u28185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u28186 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:273px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u28187 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:273px;
  width:300px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u28187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u28187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u28188 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:273px;
  width:220px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u28189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:303px;
  width:40px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28190 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:303px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28191 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:303px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:30px;
}
#u28192 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:303px;
  width:450px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u28192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u28192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u28193 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:303px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u28194 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:303px;
  width:300px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u28194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u28194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u28195 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:303px;
  width:220px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u28196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:333px;
  width:40px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28197 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:333px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28198 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:333px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:30px;
}
#u28199 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:333px;
  width:450px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u28199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u28199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u28200 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:333px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u28201 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:333px;
  width:300px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u28201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u28201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u28202 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:333px;
  width:220px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u28203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:363px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u28204 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:363px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u28205 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:363px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:40px;
}
#u28206 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:363px;
  width:450px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u28206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u28206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u28207 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:363px;
  width:80px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u28208 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:363px;
  width:300px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u28208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u28208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u28209 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:363px;
  width:220px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
