body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u53732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u53732 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:170px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u53732 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u53732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53733 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:73px;
  width:1290px;
  height:403px;
}
#u53734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:45px;
}
#u53734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:45px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u53734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u53735 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:100px;
  height:45px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u53735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u53736 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:100px;
  height:45px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u53736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:45px;
}
#u53737 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:450px;
  height:45px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u53737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u53738 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:0px;
  width:80px;
  height:45px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u53738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u53739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
}
#u53739 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:0px;
  width:300px;
  height:45px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u53739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
}
#u53740 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:0px;
  width:220px;
  height:45px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u53740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u53741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u53742 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:45px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u53743 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:45px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:40px;
}
#u53744 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:45px;
  width:450px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u53744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u53744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u53745 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:45px;
  width:80px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u53746 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:45px;
  width:300px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u53746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u53746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u53747 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:45px;
  width:220px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:60px;
}
#u53748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:40px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u53749 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:85px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u53750 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:85px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:60px;
}
#u53751 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:85px;
  width:450px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u53751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u53751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
}
#u53752 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:85px;
  width:80px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u53753 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:85px;
  width:300px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u53753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u53753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u53754 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:85px;
  width:220px;
  height:60px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u53755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:145px;
  width:40px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u53756 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:145px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u53757 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:145px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:30px;
}
#u53758 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:145px;
  width:450px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u53758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u53758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u53759 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:145px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u53760 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:145px;
  width:300px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u53760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u53760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u53761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u53761 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:145px;
  width:220px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u53762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:40px;
  height:38px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u53763 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:175px;
  width:100px;
  height:38px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u53764 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:175px;
  width:100px;
  height:38px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:38px;
}
#u53765 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:175px;
  width:450px;
  height:38px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u53765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u53765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u53766 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:175px;
  width:80px;
  height:38px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
}
#u53767 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:175px;
  width:300px;
  height:38px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u53767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u53767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:38px;
}
#u53768 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:175px;
  width:220px;
  height:38px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u53769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:213px;
  width:40px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u53770 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:213px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u53771 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:213px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:30px;
}
#u53772 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:213px;
  width:450px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u53772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u53772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u53773 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:213px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u53774 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:213px;
  width:300px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u53774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u53774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u53775 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:213px;
  width:220px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u53776 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:243px;
  width:40px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u53777 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:243px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u53778 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:243px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:30px;
}
#u53779 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:243px;
  width:450px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u53779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u53779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u53780 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:243px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u53781 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:243px;
  width:300px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u53781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u53781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u53782 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:243px;
  width:220px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u53783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:273px;
  width:40px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u53784 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:273px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u53785 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:273px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:30px;
}
#u53786 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:273px;
  width:450px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u53786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u53786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u53787 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:273px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u53788 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:273px;
  width:300px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u53788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u53788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u53789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u53789 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:273px;
  width:220px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u53790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:303px;
  width:40px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u53791 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:303px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u53792 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:303px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:30px;
}
#u53793 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:303px;
  width:450px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u53793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u53793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u53794 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:303px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u53795 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:303px;
  width:300px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u53795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u53795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u53796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u53796 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:303px;
  width:220px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u53797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:333px;
  width:40px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u53798 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:333px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u53799 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:333px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:30px;
}
#u53800 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:333px;
  width:450px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u53800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u53800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u53801 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:333px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u53802 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:333px;
  width:300px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u53802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u53802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u53803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u53803 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:333px;
  width:220px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u53804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:363px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u53805 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:363px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u53806 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:363px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:40px;
}
#u53807 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:363px;
  width:450px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u53807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u53807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u53808 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:363px;
  width:80px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u53809 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:363px;
  width:300px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u53809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u53809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u53810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u53810 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:363px;
  width:220px;
  height:40px;
  display:flex;
  font-family:'Noto Sans KR', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u53810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
